.button {
    -fx-background-color: #BF5B46;
    -fx-text-fill:  "white";
    -fx-font-family: "Poppins";
    -fx-font-weight: medium;
    -fx-background-radius: 30px;
    -fx-font-size: 13px;
        
}